# EditorConfig helps maintain consistent coding styles for multiple developers
# https://editorconfig.org/

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
trim_trailing_whitespace = true
indent_style = space
indent_size = 4
max_line_length = 120

# Tab indentation for Java files
[*.java]
indent_style = space
indent_size = 4
max_line_length = 120
ij_java_imports_layout = $*,|,java.**,|,javax.**,|,jakarta.**,|,org.**,|,com.**,|,io.**,|,*
ij_java_packages_to_use_import_on_demand = 999
ij_java_class_count_to_use_import_on_demand = 999

# YAML and JSON specific settings
[*.{yml,yaml,json}]
indent_size = 2

# XML files
[*.xml]
indent_size = 4

# SQL files
[*.sql]
indent_style = space
indent_size = 4

# Markdown files
[*.md]
trim_trailing_whitespace = false